<div class="container">
	<h1 class="text-center">Editing User</h1>

	<%= render 'form', user: @user %>

	<p class="text-center">
		<%= link_to 'Show', @user %> |
		<%= link_to 'Back', users_path %>
	</p>
</div>
